:root{
  --blue: rgb(90, 146, 192);;
  --white: #ffffff;
  --dark: #333;
  --light: #F3F3F3;
}
* {
  margin: 0;
  padding:0;
}
body{
  font-family: serif;
  width: 100%;
  min-height: 100vh;
}
.flex-item{
  margin: 100px auto 0;
  width: 50px;
  height: 520px;
  perspective: 1000px;
  margin-left:50px ;
}
.card{
  margin-bottom: 10px;
  width: 500px;
  height: 600px;
  perspective: 1000px;
  margin-left:500px ;
}
.card_inside{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card_inside.is-flipped {
  transform: rotateY(180deg);
}
.card_look{
  position:absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgb(90, 146, 192);;
}
.card_look--front {
    background-image: linear-gradient(to bottom left, var(--blue) 10%, var(--white) 100%) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_look--front h2 {
    color: rgb(0, 0, 0);
    font-size: 32px;

}

.card_look--back{
    background-color: rgb(90, 146, 192); ;
    transform: rotateY(180deg);
}

.card_content {
width: 100%;
height: 100%;
}

.card_header {
    position: relative;
    padding: 30px 30px 40px;

}

.card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--blue) 10%, var(--white) 115%) ;


}

.logo {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50px;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;

}
.card_header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

}

.card_body {
    padding: 30px;
}

.card_body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;

}

.card_body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}
  
  h1 {
    font-size: 50px;
    color: #030705;;
    text-align: center
  }
  
  h2 {
    font-size: 20px;
    color: black;
    text-align: center
  }
  
  .lastrow h3 {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%)
  }
  
  .lastrow p {
    POSITION: center
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #c3dbff;
    font-family: 'Josefin Sans', sans-serif;

  }
  
  .leftSection {
    padding-left: 100px;
  }
  
  .rightScetion {
    padding-left: 250px;
  }
  
  .flex-container {
    min-height: 200px;
    max-width: 800px;
    margin: auto;
  }
  
  .flex-container .flex-item {
    float: left;
    width: 50% !important;
  }
  
  .btn {
    background-color: rgb(118, 206, 110);
    color: rgb(15, 14, 14);
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
  }
  
  .btn:hover {
    text-decoration: none;
    background-color: rgb(71, 141, 233);
  }
  
  .shadow {
    -webkit-box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, 0.75);
  }